.App {
  text-align: center;
}
.day-sentence {
  margin: auto;
  background-color: rgb(0, 120, 215);
  width: 70%;
  border-radius: 2rem;
  padding: 10px;
  color: white;
}
.day-sentence h3 {
  line-height: 2rem;
}
.prev,
.next {
  margin-top: 1.5rem;
  width: 3.5rem;
  height: 2rem;
  border: 1px solid rgb(0, 120, 215);
  background-color: rgb(0, 120, 215);
  border-radius: 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

button + button {
  margin-left: 2.5rem;
}
