a:link {
  text-decoration: none;
}
.App {
  text-align: center;
  width: 100%;
  height: 1000px;
}
.day-sentence {
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 120, 215, 0.8);
  width: 90%;
  border-radius: 2rem;
  padding: 10px;
  color: white;
}
.day-sentence h3 {
  line-height: 2rem;
}
.prev,
.next {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 3.5rem;
  height: 2rem;
  border: 1px solid rgba(0, 120, 215, 0.8);
  background-color: rgba(0, 120, 215, 0.8);
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

button + button {
  margin-left: 1rem;
}
.sentence-input {
  border: none;
  border-radius: 1rem;
  width: 40%;
  padding: 5px 10px;
}
.recommend-container {
  display: flex;
  justify-content: space-evenly;
  /* 박스들이 이 컨테이너의 width를 넘어가면 다음줄에 생성되도록 함. */
  flex-wrap: wrap;
}
.recommend-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 한 박스당 16%를 차지하며 한 줄에 총 6개의 박스가 들어가도록 width 설정 */
  width: 16%;
  margin: 10px 0px;
}
.recommend-box img {
  border-radius: 1.2rem;
  width: 140px;
  height: 180px;
  transition: all 0.7s;
  cursor: pointer;
}
.recommend-box img:hover {
  transform: scale(1.2, 1.2);
}
.recommend-box p {
  margin: 0px;
  font-weight: 600;
}
.black-bg {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 206px;
  left: 900px;
  background: rgba(240, 240, 240, 0.8);
  z-index: 5;
  padding: 30px;
  display: none;
}
.show-modal {
  display: block;
}
